<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<style>
  body {
    font-family: sans-serif;
  }
</style>
<body>
  <h1>Navio + Elasticsearch </h1>
<div id="navio"></div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script type="text/javascript" src="javascripts/navio/src/navio.js"></script>

<script>
  var dats =  "<%- JSON.stringify(datos) %>";
  console.log(dats);
  
  var catColumns = [
    "id",
    "first_name",
    "last_name",
    "married",
    "ip"
  ];
  var seqColumns = [
    "calification",
    "posts",
    "date"
  ];

  var nn = new navio("#navio", 600).id("i");

  catColumns.forEach((c) => nn.addCategoricalAttrib(c));
  seqColumns.forEach((c) => nn.addSequentialAttrib(c));

  var data = [dats];
  var i =0;

  d3.csv(data, type, function (err, data) {
    console.log(data);
  //d3.csv("predialsampler/", type, function (err, data) {
    if (err) throw err;
    console.log(data.length);
    data.forEach((d,i) => d.i = i);

    nn.data(data);
  });

  //26/01/2016 04:21:05 a.m.
  var fmt = d3.timeParse("%d-%m-%Y %H:%M:%S %p");

  function type(row) {
    return row;
  }
</script>
</body>
</html>